#root {
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  padding-bottom: 15vh;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(7, minmax(11.5vw, 1fr));
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-button {
  width: 15vw;
  height: 8vh;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 15vh;
  min-height: 100vh;
}

.month {
  display: flex;
  width: 50%;
}

.month-item {
  padding: 10px;
  background-color: #2F4F4F;
  border-radius: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: solid white;
}

@media (prefers-color-scheme: light) {
  .month-item {
    border: solid black;
  }
}


.month-text {
  text-align: center;
  margin: 0;
  width: 60%;
}

.weekdays {
  display: flex;
  justify-content: space-around;
}
