.habit-items {
    display: grid;
    width: 100%;
}
  
.habit-column-names {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}

.habit-header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.bold-text {
    font-weight: bold;
}

.habit-grid {
    display: flex;
    flex-direction: column;
}

.habit-grid-item {
    border: 1px solid white;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
}

.month {
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    .habit-header-wrap {
        padding-top: 3vh;
    }

    .habit-grid-box {
        flex-direction: column;
    }

    .check-wrapper {
        grid-template-columns: 1fr !important;
        grid-template-rows: 17fr 3fr;
        justify-items: center;
        align-items: center;
    }

    .circle-x {
        height: 100% !important;
    }

    .x-wrapper {
        grid-template-columns: 1fr !important;
        grid-template-rows: 17fr 3fr;
        justify-items: center;
        align-items: center;
    }

    .close-button {
        left: 80%;
        top: 20%;
        padding: 3%;
        border-radius: 60px;
    }

    .submit-button {
        width: 50vw;
    }
}