/* .window-wrapper {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: black;
    text-align: center;
} */

.back-button {
    position: fixed;
    top: 15%;
    left: 15%;
}
  
.close-button {
    position: fixed;
    top: 15%;
    left: 85%;
}
  
.submit-button {
    margin-top: 5%;
    height: 10vh;
    width: 15vw;
}

.email-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
  