h1 {
    text-align: center;
}
  
.close-button {
    position: fixed;
    top: 15%;
    left: 85%
}


.submit-button {
    margin-top: 8%;
    height: 10vh;
    width: 15vw;
}

.email-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.sign-in-buttons {
    display: flex;
    /* width: 30%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding: 5vh;
}

.button, .google-button {
    width: 30%;
}

.google-button {
    display: flex;
    gap: 15%;
    align-items: center;
}

.google-icon {
    font-size: 20px;
}