
.back-button {
    position: fixed;
    top: 10%;
    left: 7%;
}
  
.sign-submit-button {
    margin-top: 5%;
    height: 10vh;
    width: 50%;
}

.sign-up-email-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7vh;
    height: 80%;
}

.sign-up-item-wrapper {
    width: 100%;
    text-align: center;
}
  
.sign-up-header {
    margin: 0;
}