.to-do-items {
    display: grid;
    width: 100%;
}
  
.column-names {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr; 
    padding: 10px;
    width: 100%;
    text-align: center;
}

.to-do-header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.no-date-title {
    text-align: center;
}

