.to-do-items {
    display: grid;
    /* position: fixed; */
    width: 100%;
}
  
.column-names {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr; 
    padding: 10px;
    width: 100%;
    text-align: center;
}

.to-do-header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* top: 20%; */
    margin-top: 10%;
}

/* .to-do-items {
    width: 100%;
    position: fixed;
    top: 40%;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr 2fr;
}

.column-names {
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.filler {
    width: 17%;
}

.date-col {
    margin-right: 10%;
} */