.day-box {
  border: solid;
  border-color: rgba(49, 49, 49, 0.2);
}

.day-num {
  text-align: center;
  margin: none;
  padding: none;
}

.box-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}