.window-wrapper {
    position: fixed;
    top: 17%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: black;
    text-align: center;
    z-index: 10;
}

.delete-button {
    position: fixed;
    top: 75%;
    left: 70%
}

.edit-button {
    position: fixed;
    top: 75%;
    left: 20%;
}