.window-wrapper {
  position: fixed;
  top: 17%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: black;
  text-align: center;
}

.close-button {
  position: fixed;
  top: 25%;
  left: 83%;
  border: solid white !important;
}

.submit-button {
  margin-top: 5%;
  height: 10vh;
  width: 15vw;
  border: solid white !important;
}

.button-unselected {
  background-color: #242424 !important;
  margin-right: 0.5vh;
}
 
.button-selected {
  margin-right: 0.5vh;
}

.switch-window {
  position: fixed;
  top: 27%;
  left: 15%;
}
