.task-box {
    word-wrap: break-word;
    overflow: auto;
    width: 90%;
    text-align: center;
}

.task-description {
    margin: 0;
    text-align: center;
}

.ind-task-button {
    margin-bottom: 5%;
}

li {
    list-style-type: none;
}