.task-box {
    /* background-color: black; */
    /* height: fit-content; */
    width: 90%;
    /* justify-content: center;
    display: flex; */
    /* flex-direction: row; */
    word-wrap: break-word;
    overflow: auto;
}

.task-description {
    margin: 0;
    text-align: center;
}

.ind-task-button {
    /* padding: 0; */
    margin-bottom: 5%;
}

li {
    list-style-type: none;
}