.to-do-ind-task-button {
    background-color: #9c1402 !important;
    margin-bottom: 5%;
    width: 100%;
    /* overflow: hidden; */
    padding-left: 0.5em;
}

.to-do-ind-task-button:hover {
    background-color: #de1c02 !important;
}

.to-do-button-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.check-box-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
}

.button-inner-text {
    overflow: hidden;
}

@media (max-width: 768px) {
    .to-do-ind-task-button {
        padding: 5px 1px;
    }

    .check-box-div {
        width: 35%;
        height: 10px;
        overflow: hidden;
    }

    .task-checkbox {
        width: 35%;
        height: 50%;
    }

    .task-description {
        max-height: 100%
    }

    .task-time {
        display: none;
    }
}